/* CSS CARTON v1.0.3
* Autor: Mathias Prinz, Tobias Schlömer
*/

.cell_ {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 0
}

.slim_ {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: medium
}

.stretch_ {
  position: relative;
  display: block;
  vertical-align: top;
  font-size: medium
}

.chopped_ {
  position: relative;
  display: inline;
  vertical-align: top;
  font-size: medium
}

.sticker_ {
  position: absolute;
  display: block;
  font-size: medium
}

.fixed_ {
  position: fixed;
  display: block;
  font-size: medium
}

.alignRight_ {
  text-align: right
}

.alignLeft_ {
  text-align: left
}

.alignCenter_ {
  text-align: center
}

.showGrid_ .cell_ {
  outline: 3px dashed #FF716C;
  outline-offset: 0px
}

.showSlim_ .slim_, .showStretch_ .stretch_ {
  outline: 6px dashed #FFFF9D;
  outline-offset: 1px
}

.showChopped_ .chopped_ {
  outline: 3px dashed #99fccb;
  outline-offset: 1px
}

.showSticker_ .sticker_ {
  outline: 6px double #9981FF;
  outline-offset: 1px
}

.showFixed_ .fixed_ {
  outline: 6px double #ff97d7;
  outline-offset: 1px
}
