/* CSS CARTON v1.0.3
* Carton styleables for modern browsers only 
* Autor: Mathias Prinz, Tobias Schlömer
*/

.fixed_ {
	position: fixed;
	display: block;
	font-size: medium
}

.fitToCell_ {
	position: absolute;
	display: block;
	font-size: medium;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;		
}

.showFixed_ .fixed_ {
	outline: 6px double #ff97d7;
	outline-offset: 1px
}

.showFitToCell_ .fitToCell_  {
	outline: 3px dashed lightblue;
	outline-offset: 1px
}