/* TAGS FOR CSS CARTON v1.0.0
* Autor: Mathias Prinz, Tobias Schlömer
*/


/* http://en.wikipedia.org/wiki/HTML_element */

/* - BLOCK ELEMENTS - */
/* - Basic text - */

  /* paragraph */
  p {}
  
  /* headline level 1 */
  h1 {}
  
  /* headline level 2 */
  h2 {}
  
  /* headline level 3 */
  h3 {}
  
  /* headline level 4 */
  h4 {}
  
  /* headline level 5 */
  h5 {}
  
  /* headline level 6 */
  h6 {}
  
/* - Lists - */
  
  /* Definition list ( consisting of definition terms paired with definitions ). */
  dl {}
  
  /* Definition term in a definition list */
  dt {}
  
  /* Definition of a term, in a definition list. */
  dd {}
  
  /* Menu listing - !!! HTML5 redefined in HTML 5 invalid in HTML4 */
  menu {}
  
  /* list item menu list */
  menu li {}
  
  /* ordered list ( enumerated ) */
  ol {}
  
  /* list item ordered list */
  ol li {}
  
  /* unordered list (bulleted) */
  ul {}
  
  /* list item unordered list */
  ul li {}
  
  
/* - Other block elements - */
  
  /* contact information */
  address {}
  
  /* defines a block quotation within the text */
  blockquote {}
  
  /* marks a deleted section of content */
  del {}
  
  /* horizontal rule */
  hr {}
  
  /* marks a section of inserted content */
  ins {}
  
  /* replacement content for scripts */
  noscript {}
  
  /* pre-formatted formatted text ( whereas browsers ignore whitespace for other HTML elements, in pre, whitespace should be rendered as authored. ) */
  pre {}
  
  /* places a script in the document */
  script {}
  
  
  
/* - INLINE ELEMENTS - */
/* - General - */ 
  
  /* hyperlink */
  a {
    cursor: pointer;
    outline: none;  
  }
  a:focus {
    cursor: pointer;
    outline: none; 
  }
  
  /* marks an abbreviation ( acronym is not supported in HTML5 anymore )*/
  acronym, abbr {}
  
  /* inline definition of a single term */
  dfn {}
  
  /* Emphasis (conventionally displayed in italics) */
  em {}
  
  /* strong emphasis */
  strong {}
  
  
/* - Computer phrase elements - */
  
  /* code snippet */
  code {}
  
  /* sample output ( from a program or script ) */
  samp {}
  
  /* keyboard ( text to be entered by the user ) */
  kbd {}
  
  /* variable */
  var {}
  
  
/* - Presentation - */
  
  /* boldface - !!! HTML 5 <b> has its own meaning, distinct from that of strong. It denotes "text to which attention is being drawn for utilitarian purposes without conveying any extra importance and with no implication of an alternate voice or mood.*/ 
  b {}
  
  /* italic - !!! HTML 5 <i> has its own semantic meaning, distinct from that of em. It denotes "a different quality of text" or "an alternative voice or mood" */
  i {}
  
  /* underlined - !!! HTML 5 <u> element denotes "a span of text with an unarticulated, though explicitly rendered, non-textual annotation, such as labeling the text as being a proper name in Chinese text (a Chinese proper name mark), or labeling the text as being misspelt." */
  u {}
  
  /* decreased font size (smaller text) - !!! HTML 5 small element denotes "side comments such as small print." */
  small {}
  
  /* Fixed-width font (typewriter-like), also known as teletype - !!! HTML 5 not supported */
  tt {}
  
/* - Span - */
  
  /* inline logical division */
  span {}
  
  
/* - Other inline elements - */
  
  /* forced line-break. */
  br {}
  
  /* marks an inline section of text in which the reading direction is the opposite from that of the parent element. */
  bdo {}
  
  /* citation */
  cite {}
  
  /* deleted text */
  del {}
  
  /* inserted text */
  ins {}
  
  /* inline quotation */
  q {}
  
  /* subscript */
  sub {}
  
  /* superscript */
  sup {}
  
  /* optional line break - !!! HTML 5 was widely used (and supported by all major browsers) for years despite being non-standard until finally being standardized in HTML 5. learn more at: http://www.quirksmode.org/oddsandends/wbr.html */
  wbr {}
  
  
  
/* - IMAGES AND OBJECTS - */
  
  /* specifies a focusable area in a image map */
  area {}
  
  /* image */
  img {}
  
  /* image map */
  map {}
  
  
  
/* - FORMS - */
  
  /* form */
  form {}
  
  /* button */
  button {
    cursor: pointer;
  }
  
  /* adding structure to forms */
  fieldset {}
  
  /* input */
  input {}
  
  /* label for a form input  */
  label {}
  
  /* legend (caption) for a fieldset */
  legend {}
  
  /* creates an item in a select list */
  option {}
  
  /* identifies a group of options in a select list */
  optgroup {}
  
  /* selection list */
  select {}
  
  /* multiple-line text area */
  textarea {}
  
  
  
/* - TABLES - */
  
  /* table */
  table {}
  
  /* row of cells in a table */
  tr {}
  
  /* table header cell */
  th {}
  
  /* table data cell */
  td {}
  
  /* column group in a table */
  colgroup {}
  
  /* column in a table */
  col {}
  
  /* caption for a table */
  caption {}
  
  /* header part of a table */
  thead {}
  
  /* body of data for the table */
  tbody {}
  
  /* footer part of a table */
  tfoot {}
  
  
  
/* - SEMANTIC / STRUCTURE ELEMENTS - */
  
  /* article - !!! HTML5 only support this tag*/
  article {}
  
  /* content aside from the main content - !!! HTML5 only */
  aside {}
  
  /* self-contained content like diagramms, photos, code samples - !!! HTML5 only */
  figure {}
  
  /* caption for a figure - !!! HTML5 only */
  figcaption {}
  
  /* footer for a document or section - !!! HTML5 only */
  footer {}
  
  /* Groups headlines with multiple levels together - !!! HTML5 only */
  hgroup {}
  
  /* header for a document or section - !!! HTML5 only */
  header {}
  
  /* group navigation links together - !!! HTML5 only */
  nav {}
  
  /* symantic section for a document - !!! HTML5 only */
  section {}
  
  
  
/* - MEDIA ELEMENTS - */
  
  /* sound content - !!! HTML5 only */
  audio {}
  
  /* video content - !!! HTML5 only */
  video {}
  
  /* text tracks - !!! HTML5 only */
  track {}
  
  
  
/* - CANVAS - */

  /* draw graphics - !!! HTML5 only */
  canvas {}
  